.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cart__products{
    display: flex;
    justify-content: space-evenly;
}
.cart__image{
    width:100px;
    height:100px;
    display: inline-block;
}

.cart__items{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 205, 205);
    margin-bottom: 5px;
    padding: 5px;
}
.product__card{
    width:300px;
    height:300px;
    display: inline-block;
    margin: 10px;
}
.product__card__bottom{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
img{
    height: 80%;
    width: 100%;
}
.cart__summary{
    display: flex;
    justify-content: center;
}
button{
    text-align: right;
}